<ng-container *ngIf="(apod$ | async) as apod; else loading">
  <div class="center-container center-container--vertical">
    <div class="form-group">
      <label for="date">Pick a date</label>
      <input
        [formControl]="dateCtl"
        type="date"
        id="date"
        class="form-control"
        min="1995-06-16"
        [max]="today"
        step="1"
      >
    </div>

    <header class="main-header">
      <h1>{{ apod.title }}</h1>
    </header>
    <figure class="apod">

      <div
        #image
        [hidden]="!imageLoaded.status"
      ></div>
      <span [hidden]="imageLoaded.status || !!imageLoaded.error">Image loading...</span>
      <span [hidden]="!imageLoaded.error">{{ imageLoaded.error }}</span>

      <figcaption>{{ apod.explanation }}.</figcaption>
    </figure>
  </div>
</ng-container>

<ng-template #loading>
  <div class="center-container">Please wait...</div>
</ng-template>
